*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.barcode-container{

    min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.062),
      rgba(0, 0, 0, 0.093)
    ),
    url("../assets/images/AddProduct.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 40px 20px;

}

.barcode-card{

    width:520px;

    padding:40px;

    background:rgba(151, 148, 148, 0.295);
    backdrop-filter:blur(20px);
    -webkit-backdrop-filter:blur(25px);

    border:2px solid rgba(255,255,255,.12);
    border-radius:28px;

    box-shadow:
        0 20px 60px rgba(0, 0, 0, 0.205),
        inset 0 1px 0 rgba(255,255,255,.08);

    text-align:center;

}

.barcode-main-icon{

    font-size:60px;
    color:#6fcfe7;

    margin-bottom:20px;

}

.barcode-title{

    color:#3fc8f4;
    margin-bottom:10px;

}

.barcode-text{

    color:rgb(139, 215, 238);;
    line-height:28px;
    margin-bottom:30px;

}

.barcode-frame{

    width:300px;
    height:200px;

    margin:0 auto 30px;

    border:4px solid #6fcfe7;

    border-radius:20px;

    position:relative;

    overflow:hidden;

}

.barcode-scan-line{

    position:absolute;

    width:100%;
    height:3px;

    background:#6fcfe7;

    animation:barcodeScan 2s infinite;

}

@keyframes barcodeScan{

    0%{
        top:0;
    }

    100%{
        top:190px;
    }

}

.barcode-camera-btn,
.barcode-upload-btn,
.barcode-cancel-btn{

    width:100%;

    padding:15px;

    border:none;

    border-radius:30px;

    margin-top:15px;

    font-size:17px;

    cursor:pointer;

    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;

    transition:all .3s ease;

}

.barcode-camera-btn{

    background:#1A8FB4;
    color:white;

}

.barcode-camera-btn:hover{

    background:#0d789b;
    transform:translateY(-2px);

}

.barcode-upload-btn{

    background:white;
    color:#1A8FB4;

}

.barcode-upload-btn:hover{

    background:#eef8fb;
    transform:translateY(-2px);

}

.barcode-cancel-btn{

    background:#ff4b4b;
    color:white;

}

.barcode-cancel-btn:hover{

    background:#dc3030;
    transform:translateY(-2px);

}

.barcode-or{

    color:rgb(27, 134, 151);
    font-weight:bold;

    margin-top:20px;

}