/* Reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html,
body,
#root{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    overflow:hidden;
}

/* Background */
.forgot-container{
    width:100vw;
    height:100vh;

    background:url("../assets/images/login-bg.png") center center no-repeat;
    background-size:cover;
 background-position: center 20%; 
    display:flex;
    justify-content:flex-end;
    align-items:center;

    padding-right: 0px;
}

/* Wrapper */
.forgot-box{
    width:100%;
    max-width:900px;
    height:700px;

    display:flex;
    justify-content:flex-end;   /* Right side */
    align-items:flex-start;   /* Moves it to the top */
    padding:28px 157px;   /* Top-Bottom 35px, Left-Right 50px */
    padding-top:80px;         /* Adjust this value */
}

/* Glass Card */
.forgot-form{
    width:500px;
    padding:45px 50px;
    border-radius:25px;

    background:rgba(255,255,255,.15);
    backdrop-filter:blur(20px);
    box-shadow:0 10px 35px rgba(0,0,0,.4);

    margin:0;      /* Remove margin-left */
}
/* Logo */
.forgot-image{
    width:120px;
    display:block;
    margin:0 auto 20px;
}

/* Heading */
.forgot-heading{
    text-align:center;
    font-size:48px;
    font-weight:700;
    color:#6fcfe7;

    margin-bottom:25px;

    text-shadow:0 0 10px rgba(33,190,229,.45);
}

/* Description */
.forgot-description{
    text-align:center;
    color:white;
    font-size:16px;
   line-height:34px;
    margin-bottom:35px;
}

/* Input Box */
.forgot-input-box{
    display:flex;
    align-items:center;

    background:white;

    border-radius:30px;

    padding:13px 18px;

    margin-bottom:28px;
}

.forgot-input-icon{
    color:#1A8FB4;
    margin-right:12px;
    font-size:18px;
}

.forgot-input{
    width:100%;
    border:none;
    outline:none;
    background:transparent;
    font-size:16px;
}

/* Button */
.forgot-button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:30px;

    background:#1A8FB4;

    color:white;

    font-size:20px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.forgot-button:hover{
    background:#0b6e91;
    transform:translateY(-2px);
}

/* Footer */
.forgot-footer{
    text-align:center;
    color:white;
    margin-top:25px;
    font-size:18px;
}

.forgot-footer a{
    color:#4dd7ff;
    text-decoration:none;
    font-weight:bold;
}

.forgot-footer a:hover{
    text-decoration:underline;
}

/* Responsive */
@media(max-width:768px){

    .forgot-container{
        justify-content:center;
        padding:20px;
    }

    .forgot-box{
        width:100%;
        height:auto;
    }

    .forgot-form{
        position:relative;
        width:100%;
        top:0;
        right:0;
        transform:none;
        padding:30px;
    }

    .forgot-heading{
        font-size:36px;
    }

}