*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

html,
body,
#root{
    width:100%;
    height:100%;
    overflow:hidden;
}

.reset-container{
    width:100%;
    height:100vh;

    background-image:url("../assets/images/login-bg.png");
    background-size:cover;
    background-position: center -70px;
    background-repeat:no-repeat;

    display:flex;
    justify-content:flex-end;
    align-items:center;

    padding-right:158px;
}

.reset-box{
    width:100%;
    max-width:900px;
    height:700px;

    display:flex;
    justify-content:flex-end;
    align-items:center;
}

.reset-form{

    width:500px;
    
    padding:45px 50px;

    border-radius:25px;

    background:rgba(255,255,255,.15);

    backdrop-filter:blur(20px);

    box-shadow:0 10px 35px rgba(0,0,0,.4);

    transform:translateY(-40px);
    margin-top: 78px;
}

.reset-image{
    width:110px;
    display:block;
    margin:0 auto 20px;
}

.reset-heading{
    text-align:center;
    font-size:48px;
    color:#6fcfe7;
    margin-bottom:20px;
}

.reset-description{
    text-align:center;
    color:white;
    font-size:18px;
    margin-bottom:35px;
}

.reset-input-box{
    display:flex;
    align-items:center;

    background:white;

    border-radius:30px;

    padding:14px 18px;

    margin-bottom:25px;
}

.reset-icon{
    color:#1A8FB4;
    margin-right:12px;
}

.reset-input{
    width:100%;
    border:none;
    outline:none;
    background:transparent;
    font-size:16px;
}

.reset-button{

    width:100%;

    padding:15px;

    border:none;

    border-radius:30px;

    background:#1A8FB4;

    color:white;

    font-size:20px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

.reset-button:hover{

    background:#0b6e91;

    transform:translateY(-2px);
}